{% extends 'base.html.twig' %}

{% block title %}AttachementType{% endblock %}

{% block body %}
    <h1>AttachementType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attachement_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ attachement_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attachement_type_index') }}">back to list</a>

    <a href="{{ path('attachement_type_edit', {'id': attachement_type.id}) }}">edit</a>

    {{ include('attachement_type/_delete_form.html.twig') }}
{% endblock %}
