{% extends 'base.html.twig' %}

{% block title %}EducationalLevel index{% endblock %}

{% block body %}
    <h1>EducationalLevel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for educational_level in educational_levels %}
            <tr>
                <td>{{ educational_level.id }}</td>
                <td>{{ educational_level.name }}</td>
                <td>{{ educational_level.description }}</td>
                <td>
                    <a href="{{ path('educational_level_show', {'id': educational_level.id}) }}">show</a>
                    <a href="{{ path('educational_level_edit', {'id': educational_level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('educational_level_new') }}">Create new</a>
{% endblock %}
