{% extends 'base.html.twig' %}
{% block container_title %}Review Invitation
{% endblock %}
{% block title %}Review Invitation
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-9">
 
                            <div class="card">
                                <div class="card-header">
			<h5>Review Invitation:<h5> 

                                </div><!--end card-header-->
                                <div class="card-body">
                                    <h4 class="card-title">{{ guideline.name }}</h4>


                                    <p class="card-text text-muted ">{{ guideline.theGuidelline |raw}}.</p>
                                 </div><!--end card-body-->                               
                            </div><!--end card-->
                        </div>

			<div class="col-lg-3">

				<div class="card">
				<div class="card-header">
			<h5> Invitation info:<h5> 

                                </div>
					<div class="card-body ">
						<div class="ibox ">
							<div class="ibox-title">
								<h4 class="m-0 fw-semibold text-dark font-16 mt-3">

									Thematic area of proposal</h4>
								{{ review_assignment.submission.thematicArea }}
							</div>
							<div class="ibox-content ibox-heading">
								<br>
								<small>
									Invitation sent at:
									{{ review_assignment.invitationSentAt ? review_assignment.invitationSentAt|date('Y-m-d H:i:s') : '' }}
								</small>

								<h5 class='text-danger'>
									Duedate:
									{{ review_assignment.duedate ? review_assignment.duedate|date('Y-m-d ') : '' }}
								</h5>
								
							</div>

							<div class="col ">
								<form method="POST" class=' '>
									<input type="hidden" name="_token" value="{{ csrf_token('accept-invitation') }}">

									<input type="submit" class="btn btn-primary btn-lg  btn-block col-12 " name="accept-invitation" value="Accept invitation">
									<hr>
									<a href="{{ path('decline_invitation', {'id': review_assignment.id}) }}" class="btn  btn-warning btn-block col-12 ">Decline invitation</a>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
