{% extends 'base.html.twig' %}

{% block title %}Review Assignment
{% endblock %}
{% block container_title %}Review Assignment
{% endblock %}
{% block body %}

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<div class='row'>
		<div class="col-lg-4">
			<section class="panel" id="formside_permission">
				{% block side_body %}
					<h4 class='text-'>New Reviewer Assignment</h4>

					<div class="panel blank-panel">
						<div class="panel-heading">
							<div class="panel-options ">
								<ul class="nav nav-pills nav-justified">
									<li>
										<a class="nav-link active " href="#tab-1" data-bs-toggle="tab">
											Internal Reviewer
										</a>
									</li>
									<li>
										<a class="nav-link" href="#tab-2" data-bs-toggle="tab">External Reviewer</a>
									</li>

								</ul>
							</div>
						</div>

						<div class="panel-body">

							<div class="tab-content">
								<div class="tab-pane active" id="tab-1">
									<br>
									<div class="card">
										<div class="card-body">
											<div class="card-header">
												<h4 class='text-'>Internal reviewer from system</h4>

											</div>
											<br>
											{{ form_start(form) }}
											{{ form_widget(form) }}
											<button type="submit" class="btn btn-outline-primary btn-sm">
												Assign Reviewer
											</button>
											{{ form_end(form) }}
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-2">

									<br>
									<div class="card">
										<div class="card-body">
											<div class="card-header">
												<h4 class='text-'>External reviewer from outside the system</h4>

											</div>

											<br>
											{{ form_start(externalreviewerform) }}
											{{ form_widget(externalreviewerform) }}
											<button type="submit" class="btn btn-outline-primary btn-sm">
												Assign external reviewer
											</button>
											{{ form_end(externalreviewerform) }}

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</section>
				<br>


			{% endblock side_body %}
		</div>

		<div class="col-lg-8">
			<h4 class="text-d">
				Assigned reviewers
			</h4>
			{% set selected = 0 %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Reviewer</th>
						<th>Invited at</th>
						<th>Due date</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for review_assignment in review_assignments %}
						<tr>
							<td>{{ loop.index }}</td>
							{% if review_assignment.status == 1 %}
								{% set selected = selected + 1 %}
							{% endif %}

							<td>


								<a href="{{ path('researcher', {'id': review_assignment.reviewer.id}) }}" class='font-16 m-0     mb-1 align-right'>
									{{ review_assignment.reviewer }}
								</a>

								<a href="#" class="avatar-box thumb-xxs align-self-center">
									<span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">
										+{{ review_assignment.reviewer.reviewAssignments|length   }}
									</span>
								</a>

								{% if review_assignment.reviewer.isreviewer  %}
									<span class="badge bg-primary">External</span>

								{% else %}
									<span class="badge bg-success">Internal</span>
								{% endif %}

								{% if review_assignment.reassigned %}

									<a href="#" class="avatar-box thumb-xxs align-self-center">
										<span class="avatar-title bg-soft-danger rounded-circle font-13 font-weight-normal">
											Re
										</span>
									</a>
								{% endif %}

							</td>
							<td>{{ review_assignment.InvitationSentAt ? review_assignment.InvitationSentAt|date('Y-m-d H:i') : '' }}</td>
							<td>{{ review_assignment.duedate ? review_assignment.duedate|date('Y-m-d') : '' }}</td>
							<td>
								{# <span class="badge  bg-success ">active</span> #}

								{# {% if review_assignment.status == 1 %}
										<span class="badge bg-info" title="Invitation not sent">Selected</span>
									{% elseif  review_assignment.status == 2 %}
										<span class="badge bg-primary">Invitation Sent</span>
									{% elseif  review_assignment.status == 3 %}
										<span class="badge bg-primary">Reviewing</span>
								
									{% endif %} #}


								{# {% if review_assignment.IsRejected == 1 %}<span class="badge bg-info" title="Invitation not sent"> Rejected</span>
								{% elseif  review_assignment.Closed == 1 %}
								<span class="badge bg-warning">Replied revision</span>
								{% elseif  review_assignment.InactiveAssignment == 1 %}
								<span class="badge bg-danger">Inactive</span>
								{% elseif  review_assignment.Declined == 1 %}
								<span class="badge bg-danger">Declined</span>
								{% else %}
								<span class="badge bg-warning">Pending</span>
								
								
								{% endif %} #}


									{% if review_assignment.acceptedAt %}
										<span class="badge bg-success"> Accepted
									</span>
									at:
									{{ review_assignment.acceptedAt|date('d-m-y i:sa') }}

								{% elseif review_assignment.rejectedAt %}

									<span class="badge bg-danger">Rejected at:
									</span>
									{{ review_assignment.rejectedAt|date('d-m-y i:sa') }}


								{% elseif  review_assignment.Closed == 1 %}
									<span class="badge bg-warning">Review sent</span>
								{% elseif  review_assignment.InactiveAssignment == 1 %}
									<span class="badge bg-danger">Inactive
									</span>
								{% elseif  review_assignment.Declined == 1 %}
									<span class="badge bg-danger">Declined</span>
								{% else %}
									<span class="badge bg-warning">Pending</span>


								{% endif %}

							</td>
							<td nowrap="nowrap">

								{{ include('review_assignment/_delete_form.html.twig') }}


								<div class="modal fade  " id="showDetailsModal{{ review_assignment.id}}" tabindex="-1" role="dialog" aria-labelledby="showDetailsModalTitle{{ review_assignment.id}}" aria-hidden="true">
									<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="modal-title m-0" id="showDetailsModalTitle{{ review_assignment.id}}">Reviewer assignment details</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<!--end modal-header-->
											<div class="modal-body">


												<div class="row">


													<div class="col-lg-6 col-md-12 col-sm-12">

														<div class="card">
															<div class="card-body text-center">
																{% if review_assignment.reviewer.userInfo.image   %}
																	<img src="{{ asset('files/profile_pictures/'~ review_assignment.reviewer.userInfo.image ) }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																{% else %}
																	<img src="{{ asset('/img/defaultuser.png') }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																{% endif %}

																<h5 class="fw-bold mt-3 mb-1">
																	<sapn class="text-muted mb-0">
																		{{review_assignment.reviewer.userInfo.firstName}}
																		{{review_assignment.reviewer.userInfo.lastName}}
																	</span>
																</h5>
																<p class="text-muted mb-0">
																	Number of Assignment:
																	<a href="{{path('his_assignment',{'id':review_assignment.reviewer.id})}}" class="avatar-box thumb-xxs align-self-center">
																		<span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">
																			+
																			{{review_assignment.reviewer.reviewAssignments|length}}
																		</span>
																	</a>
																</p>
																<div class="mb-3">
																	{% if review_assignment.reviewer.isReviewer %}
																		<a href="#" class="me-3 text-warning">External Reviewer</a>
																	{% else %}
																		<a href="#" class="me-3 text-success">Internal Reviewer</a>

																	{% endif %}

																	{% if review_assignment.reassigned %}

																		<a href="#" class="avatar-box thumb-xxs align-self-center">
																			<span class="avatar-title bg-soft-danger rounded-circle font-13 font-weight-normal">
																				Re
																			</span>
																		</a>
																	{% endif %}

																</div>
																<br>

																<a href='{{path('researcher',{'id':review_assignment.reviewer.id})}}' class="btn btn-sm btn-soft-primary">About Reviewer</a>
																<a href='{{path('his_assignment',{'id':review_assignment.reviewer.id})}}' class="btn btn-sm btn-soft-info">Invitations</a>


																{% if review_assignment.status == 1 %}
																	{% set selected = selected + 1 %}
																{% endif %}
															</div>
														</div>
													</div>
													<div class="col-lg-6 col-md-12 col-sm-12">

														<div class="card">
															<div class="card-body text-center">


																Invitation Sent At:
																{{ review_assignment.InvitationSentAt ? review_assignment.InvitationSentAt|date('Y-m-d H:i') : '' }}<br>
																Invitation response due date:
																{{ review_assignment.duedate ? review_assignment.duedate|date('Y-m-d') : '' }}
																<br>
																<br>
																<a class="badge bg-primary" href="{{ asset('/files/proposals/review_files/'~ review_assignment.FileTobeReviewedeclined ) }}">
																	File To be Reviewed    PDF
																	<i class="fa fa-download"></i>
																</a>

																<br>
																<br>


																{% if review_assignment.IsRejected == 1 %}
																	<span class="badge bg-info" title="Invitation not sent">Rejected</span>
																{% elseif  review_assignment.Closed == 1 %}
																	<span class="badge bg-warning">Closed</span>
																	<br>
																{% elseif  review_assignment.InactiveAssignment == 1 %}
																	<span class="badge bg-danger">Inactive Assignment</span>
																	<br>
																{% elseif  review_assignment.Declined == 1 %}
																	<span class="badge bg-primary">Declined</span>


																{% endif %}


																<br>

																Invitaion  response:
																{% if  review_assignment.Declined %}
																	<span class="text-danger">
																		Declined</span>
																{% elseif  review_assignment.IsAccepted %}

																	<span class="text-success">
																		Accepted</span>
																{% elseif  review_assignment.Closed %}

																	<span class="text-primary">
																		Closed</span>


																{% else   %}

																	<span class="text-warning">
																		Pending</span>


																{% endif   %}

																{% for review in review_assignment.reviews %}
																	<h4>Review decision:<br>


																		{% if   review.remark==1 %}
																			<span class="text-danger">
																				Declined</span>

																		{% elseif   review.remark==2 %}
																			<span class="text-warning">
																				Accepted with major revision</span>
																		{% elseif   review.remark==3 %}
																			<span class="text-warning">
																				Accepted with minor revision
																			</span>
																		{% elseif   review.remark==4 %}

																			<span class="text-success">
																				Accepted
																			</span>


																		{% endif   %}
																	</h4>
																	{{review.AllowToView}}
																{% endfor %}

															</div>
														</div>
													</div>
												</div>


											</div>
											<!--end modal-body-->
											<!--end modal-footer-->
										</div>
										<!--end modal-content-->
									</div>
								</div>
								<!--end modal-dialog-->
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}
		{% block javascript  %}
			<script>
				$(document).ready(function () {

$('#review_assignment_reviewer').select2({
ajax: {
url: "{{ path('user_ajax') }}",
dataType: 'json',
delay: 250,
data: function (params) {
return {
q: params.term, // search term
page: params.page
};
},
processResults: function (data, params) {

params.page = params.page || 1;

return {
results: data.items,
pagination: {
more: (params.page * 30) < data.total_count
}
};
},
cache: true
},
placeholder: 'Search for a Reviewer',
minimumInputLength: 1,
templateResult: formatRepo,
templateSelection: formatRepoSelection
});

function formatRepo(repo) {
if (repo.loading) {
return repo.name;
}

var $container = $("<div class='select2-result-user clearfix'>" + "<div class='select2-result-user__meta'>" + "<div class='select2-result-user__title'></div>" + "<div class='select2-result-user__description'></div>" + "<div class='select2-result-user__statistics'>" + "<div class='select2-result-user__email'><i class='fa fa-envelope'></i> </div>" + "</div>" + "</div>" + "</div>");

$container.find(".select2-result-user__title").text(repo.name);
$container.find(".select2-result-user__email").append(repo.email);


return $container;
}

function formatRepoSelection(repo) {
return repo.name;
}
});
			</script>
		{% endblock %}
