{% extends 'base.html.twig' %}
{% block title %}Submission
{% endblock %}
{% block body_title %}Submission
{% endblock %}
{% block container_title %}New submission
{% endblock %}


{% block pagehead %}New submission
{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item active">New submission</li>
{% endblock %}
{% macro displayBudget(budget) %}
	{# {{form_row(vitalSignTestResult)}} #}

	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Expense type</label>
			{{form_widget(budget.category)}}

		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Description</label>
			{{form_widget(budget.description)}}

		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Cost</label>
			{{form_widget(budget.cost)}}

		</div>
	</div>
	<div class="col-md-1">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Quantity</label>
			{{form_widget(budget.quantity)}}

		</div>
	</div>

	<div class="col-md-1">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>

			</button>
		</div>
	</div>

{% endmacro %}

{% macro researchTime(researchTimeTable) %}
	<div class="col-md-4">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Task in milestones </label>
			{{form_widget(researchTimeTable.task)}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Task  starting date</label>
			{{form_widget(researchTimeTable.date_start)}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Task accomplished due date</label>
			{{form_widget(researchTimeTable.date_end)}}
		</div>
	</div>
	<div class="col-md-1">
		<div class="form-group">
			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	</div>

{% endmacro %}

{% macro displayAttachement(attachement) %}
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Type</label>
			{{form_widget(attachement.name)}}

		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Attachement</label>
			{{form_widget(attachement.imageFile)}}

		</div>
	</div>

<div class="col-md-1">
		<div class="form-group">

			 
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>

			</button>
		</div>
	</div>


{% endmacro %}

{% macro displayAttachement2(attachement) %}
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Type</label>
			<div>{{attachement.vars.value.name}}
			</div>

		</div>
		<div class="d-none">{{form_widget(attachement)}}</div>
	</div>

	{# <div class="col-md-4">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Attachement</label>
			<a class="form-control btn btn-outline-primary" href="{{ asset('uploads/submission/' ~ attachement.vars.value.file) }}">Download</a>

		</div>
	</div> #}

{% if attachement.vars.value.file %}
 =

{% endif %}


	<div class="col-md-1">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>

			</button>
		</div>
	</div> 
{% endmacro %} 

{% macro displayObjective(objective) %}
	<div class="col-md-11">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Specific objective</label>
			{{form_widget(objective.objective)}}

		</div>
	</div>


	<div class="col-md-1">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>

			</button>
		</div>
	</div>
{% endmacro %}

{% macro displayContent(coAuthor) %}
	{# {{form_row(vitalSignTestResult)}} #}

	<div class="col-md-1">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Title</label>
			{{form_widget(coAuthor.title)}}

		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Name of CO-PI</label>
			{{form_widget(coAuthor.researcher)}}

		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Department</label>
			{{form_widget(coAuthor.department)}}

		</div>
	</div>
 

	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Role</label>
			{{form_widget(coAuthor.role)}}

		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>

			</button>
		</div>
	</div>
{% endmacro %}
{% block body %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Response to call:
					{{ call.subject| raw }}</h4>
			 
			</div>
			<!--end card-header-->
			<div class="card-body">
				{{ form_start(submissionform,{ "attr":{"id":"form-horizontal", "class":""}}) }}
			
			
			{% if form_errors(submissionform) %}
								{% do submission.setStep(1) %}
							{% endif %}
							<div class="col-md-12">
								{{ form_errors(submissionform) }}
							</div>

				<h3>Get started
				</h3>
				<fieldset>
					<div class="row">
						<div class="p-3 mt-10 ">
						<div class="p-3 mt-20 ">
						
						{{ call.guidelines | raw }}
						</div>
						</div>
						<div class="p-3">
							<div class="form-check">
							{# <h1 class='form-control'> #}
							<div class="form-checkgroup">
							
										<h2 class="font-24 text-primary corm-check   d-block mt-2"> 
							 
							 {{ form_widget(submissionform.agree_to_the_terms) }}  
	
							</div>
							</div>
						</div>

						{# ? #}


						{# <div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h5 class="accordion-header m-0" id="headingOne">
									<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Profile
									</button>
								</h5>
								<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
									<div class="accordion-body"></div>
								</div>
							</div>

							 
						</div> #}

					</fieldset>
					<h3>Research details</h3>
					<fieldset>
						<div class="row">
							
							<div class="col-md-8">


								<div class="form-material">
									<label class="form-label mt-3 mb-1">Title<span class='text-danger'>*</span>
									</label>

									{{ form_widget(submissionform.title,{'attr':{'class':'form-control'}}) }}


									<label class="form-label mt-3 mb-1">General objective<span class='text-danger'>*</span>
									</label>
									<br>
									{{ form_widget(submissionform.GeneralObjective,{'attr':{'class':'form-control'}}) }}

									<label class="form-label mt-3 mb-1">Specific Objectives
										<small>Minimum of 3</small>
										<span class='text-danger'>*</span>
									</label><br>


									{# widget for specific objective #}

									<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#objective-fields-list">
										<span aria-hidden="true">+</span>
										Add specific objective
									</button>
									<ul id="objective-fields-list" class="m-t-5" data-prototype="{{_self.displayObjective(submissionform.specificObjectives.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.specificObjectives|length }}">
										{% for objective in submissionform.specificObjectives %}
											<div class="row ">
												{{ _self.displayObjective(objective) }}
											</div>
										{% endfor %}
									</ul>
									{#     specific objective #}


									<label for="txtLastNameBilling" class="form-label mt-3 mb-1">Subtitle</label>

									{{ form_widget(submissionform.sub_title,{'attr':{'class':'form-control'}}) }}

<br>
									{# <div class="form-group row col-12"> #}
									<label for="txtLastNameBilling" class="form-label mt-3 mb-1"> Executive Summary / Abstract</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.abstract,{'attr':{'class':'form-control'}}) }}
<br>
									{# </div><!--end form-group--> #}

									<label class="form-label mt-3 mb-1">Keywords</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.keywords,{'attr':{'class':'form-control'}}) }}
<br>
									<label class="form-label mt-3 mb-1">Thematic area:</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.thematic_area,{'attr':{'class':'form-control'}}) }}
<br>

									<label class="form-label mt-3 mb-1">Background and rationale:
									</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.background_and_rationale,{'attr':{'class':'form-control'}}) }}
<br>
									<label class="form-label mt-3 mb-1">Methodology:
									</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.methodology,{'attr':{'class':'form-control'}}) }}

								<br>	<label class="form-label mt-3 mb-1">Research outcome/ Output:
									</label>
	<span class='text-danger'>*</span>
									{{ form_widget(submissionform.research_outcome,{'attr':{'class':'form-control'}}) }}
<br>
									<label class="form-label mt-3 mb-1">References:
									</label>
	<span class='text-danger'>*</span>

									{{ form_widget(submissionform.reference,{'attr':{'class':'form-control'}}) }}
<br>

								</div>

							</div>
							<!--end col-->
						</div>
						<!--end row-->


					</fieldset>
					<!--end fieldset-->

					<h3>Research Members</h3>
					<fieldset>
						<div class="row">
							<div class="col-12">
								<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#contact-fields-list">
									<span aria-hidden="true">+</span>
									Add Research members
								</button>
								<ul id="contact-fields-list" class="m-t-5" data-prototype="{{_self.displayContent(submissionform.coAuthors.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.coAuthors|length }}">
									{% for coAuthor in submissionform.coAuthors %}
										<div class="row ">
											{{ _self.displayContent(coAuthor) }}
										</div>
									{% endfor %}
								</ul>


							</div>
							<!--end row-->
						</div>
					</fieldset>
					<!--end fieldset-->

					<h3>Action plan</h3>
					<fieldset>
						<div class="row">
							{% if form_errors(submissionform.submissionBudgets) %}
								{% do submission.setStep(3) %}
							{% endif %}
							<div class="col-md-12">
								{{form_errors(submissionform.submissionBudgets)}}
								
							</div>

							<div class="col-md-12">
								
										<h4 class="font-20 fw-bold d-block mt-2"> 
								Add Budget Expense and Time schedules </h4>
								
								{{form_widget(submissionform.actionplan)}}
							</div>

							<div class="col-12">
								<h4> Budget  </h4>
								<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#budget-fields-list">
									<span aria-hidden="true">+</span>
									Add Budget Expense
								</button>
								<ul id="budget-fields-list" class="m-t-5" data-prototype="{{_self.displayBudget(submissionform.submissionBudgets.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.submissionBudgets|length }}">
									{% for budget in submissionform.submissionBudgets %}
										<div class="row ">
											{{ _self.displayBudget(budget) }}
										</div>
									{% endfor %}
								</ul>

							</div>
							<!--end row-->
						</div>
						<div class="row">

							<div class="col-md-12">
								{{form_errors(submissionform.researchTimeTables)}}
							</div>
							

							<div class="col-12">
								<h4>
									Time schedules   </h4>
								<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#research-schedule-list">
									<span aria-hidden="true">+</span>
									Add task schedule
								</button>
								<ul id="research-schedule-list" class="m-t-5" data-prototype="{{_self.researchTime(submissionform.researchTimeTables.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.researchTimeTables|length }}">
									{% for researchTimeTable in submissionform.researchTimeTables %}
										<div class="row ">
											{{ _self.researchTime(researchTimeTable) }}
										</div>
									{% endfor %}
								</ul>

							</div>
				 
 
						</div>
					

					</fieldset>
					<!--end fieldset-->

					<h3>Attachement</h3>
					<fieldset>
						<div class="row">
							{% if form_errors(submissionform.submissionAttachements) %}
								{% do submission.setStep(4) %}
							{% endif %}
							<div class="col-md-12">
								{{form_errors(submissionform.submissionAttachements)}}
							</div>
							<div class="col-12">
								<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#attachement-fields-list">
									<span aria-hidden="true">+</span>
									Add Attachement 
								</button>
								<ul id="attachement-fields-list" class="m-t-5" data-prototype="{{_self.displayAttachement(submissionform.submissionAttachements.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.submissionAttachements|length }}">
									{% for attachement in submissionform.submissionAttachements %}
										<div class="row ">
											{{ _self.displayAttachement2(attachement) }}
										</div>
									{% endfor %}
								</ul>
								{# {{form_widget(submissionform.submissionAttachements)}} #}
								{{form_widget(submissionform.step)}}
								{{form_widget(submissionform._token,{'attr':{'hidden':true}})}}

							</div>
							<!--end row-->
						</div>
						<!--end row-->
					</fieldset>
					<!--end fieldset-->

					<h3>Confirm submission</h3>
					<fieldset>

						<div class="row">
							<div class="card">
								<div class="card-body">

									<div class="post-title">
										<div class="row">

											<div class="col-auto"> 
											
										 
											</div>
											<!--end col-->
										</div>
										<!--end row-->

										<h5 class="font-20 fw-bold d-block mt-2">Title:</h5>
										<h5 class="font-20 fw-bold d-block mt-3 mb-4 ml-2"> {{ submission.title }}</h5>

	<span class="font-15 bg-light py-2 px-3 rounded">
											<b>Subtitle:</b>
											{{ submission.subtitle ? submission.subtitle : "no subtitle"  }}</span>
										

										<h5 class="font-20 fw-bold d-block mt-2">General objective:</h5>
										<p>
											{{ submission.GeneralObjective }}
										</p>
										<h5 class="font-20 fw-bold d-block mt-2">Specific Objectives:</h5>

										<ul class="list-unstyled mb-0 row">
											{% for objective in submission.specificObjectives %}
												<li class="col-12 my-1 p-1 list-unstyled">
													 
														{{ objective.objective}}
													 

												</li>
											{% endfor %}

										</ul>


									<h3>Executive summary/ Abstract:</h3>
										<p class="font-15 mt-4">
											{{ submission.abstract ? submission.abstract |raw: "no executive summary" }}

										</p>

							


									</div>
								</div>
								<div class="card-body pt-0">
									<div class="row mb-3">
										<div class="col">
											<p class="text-dark fw-semibold mb-0">Submission keywords</p>
										</div>
									</div>
									{% for row in submission.keywords |split(',') %}
										<span class="badge bg-soft-dark px-3 py-2 fw-semibold">{{row}}</span>

									{% else %}
										<span class="badge bg-soft-dark px-3 py-2 fw-semibold">No keywords</span>

									{% endfor %}


								</div>
							</div>



										

									<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="row align-items-center">
											 
<h3>Research methodology:</h3>
										<p class="font-15 mt-4">
											{{ submission.Methodology ? submission.Methodology |raw: "no   methodology" }}

										</p>


										<h3>
											Background And Rationale:</h3>
										<p class="font-15 mt-4">
											{{ submission.BackgroundAndRationale ? submission.BackgroundAndRationale |raw: "no   Background And Rationale" }}

										</p>
										</div>
										<!--end row-->
									</div>
									</div>
									</div>

							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<div class="row align-items-center">
											<div class="col">
												<h4 class="card-title">Attachments</h4>
											</div>
											<!--end col-->

										</div>
										<!--end row-->
									</div>
									<!--end card-header-->
									<div class="card-body">
										<ul class="list-group custom-list-group">
											{% for attachment in submission.submissionAttachements %}

												<li class="list-group-item align-items-center d-flex justify-content-between">
													<div class="media">
														<span class="me-3 align-self-center rounded fa fa-file-pdf"></span>
														<div class="media-body align-self-center">
															<h6 class="m-0">{{ attachment.name}}</h6>
															<a href="{{ asset('uploads/submission/' ~ attachment.file ) }}" class="font-12 text-primary">Download</a>
														</div>
														<!--end media body-->
													</div>
													<div class="align-self-center">
														<span class="text-muted mb-n2"> </span>
														<div class="apexchart-wrapper w-30 align-self-center">
															<div id="dash_spark_1" class="chart-gutters"></div>
														</div>
													</div>
												</li>

											{% endfor %}

										</ul>
									</div>
									<!--end card-body-->
								</div>
								<!--end card-->
							</div>
							<div class="col-md-12">

								<div class="card">
									<div class="card-header">
										<div class="row align-items-center">
											<div class="col">
												<h4 class="card-title">Research Members</h4>
											</div> 
										</div>
										<!--end row-->
									</div>
									<!--end card-header-->
									<div class="card-body border-bottom-dashed">
										<ul class="list-unstyled mb-0 row">
											{% for author in submission.coAuthors %}
												<li class="col-5 my-1 p-3 list-unstyled">
													<div
														class="row ml-2">
														{# <div class="col-auto">
																																																																																																                                                                    <img src="assets/images/users/user-2.jpg" alt="" class="thumb-md rounded-circle">
																																																																																																                                                                </div><!--end col--> #}
														<div class="col">
															<div class="comment-body ms-n2 bg-light-alt p-3">
																<div class="row">
																	<div class="col">
																		<p class="text-dark fw-semibold mb-2">{{ author.name}}</p>
																	</div>
																	<!--end col-->
																	<div class="col-auto">
																		<span class="text-muted">
																			<i class="far fa-clock me-1"></i>
																			{{ loop.index }}</span>
																	</div>
																	<!--end col-->
																</div>
																<!--end row-->
																<p>
																	{{ author.email}}
																</p>
																<p>
																	{{ author.department}}
																</p>

															</div>
														</div>
														<!--end col-->
													</div>
													<!--end row-->

												</li>
											{% endfor %}

										</ul>
									</div>
								</div>

								{# <h4>Action plan :
								</h4> #}

							</div>
							<!--end col-->
						</div>
						<!--end col-->

						<div class="col-12">
							<div class="table-responsive">
								{% if submission.researchTimeTables|length >0 %}

									<h4>Time table :
									</h4>

									<table class="table table-bordered">

										<thead>
											<tr class="bg-gray-dark">
												<th>Task</th>

												<th>Date Start</th>

												<th>Date End</th>
												<th>Remark</th>

											</tr>
										</thead>
										<tbody>
											{% for schedule in submission.researchTimeTables %}


												<tr>
													<td>{{ schedule.task }}</td>


													<td>
														{{ schedule.DateStart|date('d M Y ') }}
													</td>

													<td>
														{{ schedule.DateEnd|date('d M Y') }}

													</td>
													<td>{{ schedule.remark }}</td>


												</tr>
												{% else %}

											{% endfor %}


										</tbody>
									</table>
									{% else %}
								{% endif %}

							</div>
						</div>
 
{% if submission.actionplan|length >0  %}  
						<div class="col-12">
							<div class="table-responsive">
								<h4>Action plan :</h4>
								{{  submission.actionplan |raw }}
</div>
</div>
 	{% endif %}

{% if submission.submissionBudgets|length >0  %}

						<div class="col-12">
							<div class="table-responsive">
								<h4>Budget breakdown :</h4>

								<table id="datatable" class="table table-bordered">
									<thead>
										<tr class="bg-gray-dark">
											<th>Description</th>
											<th>Expense cost </th>
											<th>Total cost</th>
											<th>Quantity</th>
											<th>Total</th> 
										</tr>
									</thead>
									<tbody>
										{% set total = 0 %}
										{% for budget in submission.submissionBudgets %}


											<tr>
												<td>
													{{ budget.description }}
												</td>
												<td>{{ budget.category }}</td>
												<td>{{ budget.cost }}</td>
												<td>{{ budget.quantity }}</td>

												<td>
													{{ budget.cost * budget.quantity }}
												</td>
												{% set total = total + (budget.cost * budget.quantity)  %}

											</tr>
											{% else %}

										{% endfor %}
										<tr class="bg-black text-white">
											<th colspan="3" class="border-0"></th>
											<td class="border-0 font-14">
												<b>Total</b>
											</td>
											<td class="border-0 font-14">
												<b>{{ total }}
													ETB</b>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--end row-->
{% endif %}


				</fieldset>
				<!--end fieldset-->

				{{ form_end(submissionform,{'render_rest':false}) }}
				<!--end form-->
			</div>
			<!--end card-body-->
		</div>
		<!--end card-->
	</div><!--end col--></div>
	
	{% endblock%}
{% block script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
	integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer">
	</script>
	<script src="{{ asset('plugins/jquery-steps/jquery.steps.min.js')}}"></script>
	<script src="{{ asset('plugins/select2/select2.min.js')}}"></script>

	{#<script src="{{ asset('assets/pages/jquery.form-wizard.init.js')}}"></script> #}
	<script>
		jQuery(document).ready(function () {

$(document).on('click', '.remove-collection-widget', function (e) {
$(this).closest('.row').fadeOut().remove();
$(".select2").select2();
																																																																																																																		

});
$(document).on('click', '.add-another-collection-widget', function (e) {
$(".select2").select2();

var list = jQuery(jQuery(this).attr('data-list-selector'));

var counter = list.data('widget-counter') || list.children().length;
var newWidget = list.attr('data-prototype');
newWidget = newWidget.replace(/__name__/g, counter);
counter++;
list.data('widget-counter', counter);
var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
newElem.appendTo(list);
$(".select").select2("destroy").select2();
});
});


var form = $("#form-horizontal");


$("#form-horizontal").steps({
headerTag: "h3",
bodyTag: "fieldset",
transitionEffect: "slideLeft",
onStepChanging: function (event, currentIndex, newIndex) { // Allways allow previous action even if the current form is not valid!
if (currentIndex > newIndex) {
return true;
}


// Needed in some cases if the user went back (clean up)
if (currentIndex < newIndex) { // To remove error styles
form.find(".body:eq(" + newIndex + ") label.error").remove();
form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
}

form.validate().settings.ignore = ":disabled,:hidden";
return form.valid();
},
onStepChanged: function (event, currentIndex, priorIndex) {

if ({{ submission.step }} < currentIndex) {
$("#submission_step").val(currentIndex)
if (currentIndex == 5) 
form.submit();



}
},
onFinishing: function (event, currentIndex) {
form.validate().settings.ignore = ":disabled";
return form.valid();
},
onFinished: function (event, currentIndex) {
$("#submission_step").val(10)
form.submit();
}
}).validate({
errorPlacement: function errorPlacement(error, element) {
element.after(error);
},
rules: {
"submission[title]": {
required: true,
minlength: 5
},
"#submission_agree_to_the_terms_0": {
required: true
}

},
messages: {
"submission[agree_to_the_terms]": {
required: "You need to agree with the Terms and Conditions before you continue."

}
}
});
// $("#form-horizontal-t-{{ submission.step  }}").get(0).click();
$.fn.steps.setStep = function (step) {
var currentIndex = $(this).steps('getCurrentIndex');
for (var i = 0; i < Math.abs(step - currentIndex); i++) {
if (step > currentIndex) {
$(this).steps('next');
} else {
$(this).steps('previous');
}
}
};
$("#form-horizontal").steps("setStep", {{ submission.step }});
var $input = $('<button class="btn btn-success" type="submit">Save</button>');

$input.appendTo($('ul[aria-label=Pagination]'));
	</script>
	<script>
		$(function () {
$(".select2").select2();

})
	</script>
{% endblock %}
