{% extends 'base.html.twig' %}
{% block title %}Submission
{% endblock %}
{% block container_title %}Researches
{% endblock %}
{% block body %}
	<div class="row">
		<div class="pb-4">
			<ul class="nav nav-pills " id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="Profile_Project_tab" data-bs-toggle="pill" href="pages-profile.html#Profile_Project">Researches I am assigned to ({{all|length}})</a>
				</li>

			</ul>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade active show" id="Profile_Project" role="tabpanel" aria-labelledby="Profile_Project_tab">

						<div class="row">

							<div class="card">
								<div class="card-header">
									<h4 class="card-title">All active invitations
										{% if myreviews|length>0%}

											<a href="#" class="avatar-box thumb-xxs align-self-center">
												<span class="avatar-title bg-soft-primary rounded-circle font-13 font-weight-normal">
													{{myreviews|length}}

												</span>
											</a>
											{% else %}

										{% endif %}

									</h4>
									<p class="text-muted mb-0">
										All active and under review process
									</p>
								</div>
								<!--end card-header-->
								<div class="card-body">
									<div class="table-responsive-sm">
										<table class="table table-bordered table-sm mb-0">
											<thead class="thead-light">


												{% if myreviews|length>0%}
													<tr>

														<th>#</th>
														<th>Title</th>


														<th>Invitation sent date</th>
														<th>Review due date</th>
														<th>Action</th>
													</tr>
												{% endif %}

											</thead>
											<tbody>
												{% for myreview in myreviews %}
													<tr>
														<td>{{ loop.index }}</td>
														<td>{{ myreview.submission.title }}</td>

														<td>
															{% if myreview.InvitationSentAt %}
																{{  myreview.InvitationSentAt|date('d, M Y h:i a') }}
															{% endif %}
														</td>
														<td>
															{% if myreview.dueDate %}
																{{ myreview.dueDate|date('d, M Y h:i a') }}
															{% endif %}
														</td>
														<td>

															<a href="{{ path('accept_invitation', {'id': myreview.id}) }} " class='btn btn-success btn-xs btn-outline'>
																Show invitation
															</a>
														</td>
													</tr>
												{% else %}
													No records found  under this section
												{% endfor %}

											</tbody>
										</table>
									</div>
									<!--end /tableresponsive-->
								</div>
								<!--end card-body-->
							</div>
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Closed Invitations
										{% if closeds|length>0%}
											<a href="#" class="avatar-box thumb-xxs align-self-center">
												<span class="avatar-title bg-soft-primary rounded-circle font-13 font-weight-normal">
													{{closeds|length}}

												</span>
											</a>
											{% else %}
										{% endif %}
									</h4>
									<p class="text-muted mb-0">
										Closed  and inactive review invitations
									</p>
								</div>
								<!--end card-header-->
								<div class="card-body">
									<div class="table-responsive-sm">
										<table class="table table-bordered table-sm mb-0">
											<thead class="thead-light">
												{% if closeds|length>0%}
													<tr>
														<th>#</th>
														<th>Title</th>
														<th>Invitation sent date</th>
														<th>Review due date</th>
														<th>Closed at</th>
														<th>Invitation Response</th>
													</tr>
												{% endif %}

												{% for myreview in closeds %}
													<tr>
														<td>{{ loop.index }}</td>
														<td>{{ myreview.title }}</td>

														<td>
															{% if myreview.InvitationSentAt %}
																{{  myreview.InvitationSentAt|date('d, M Y h:i a') }}
															{% endif %}
														</td>
														<td>
															{% if myreview.dueDate %}
																{{ myreview.dueDate|date('d, M Y h:i a') }}
															{% endif %}
														</td>
														<td>
															
																{% if myreview.createdAt %}
 																{{ myreview.createdAt|date('d, M Y h:i a') }}
															{% endif %}

														{# {% for review in myreview.reviews %}
														{% if review.createdAt %}

																{{ review.createdAt|date('d, M Y h:i a') }}
															{% endif %}
 {% endfor %} #}
														</td> 
														<td>

															<span class="text-dark">

																{# {% if  myreview.Declined %}
																	<span class="badge badge-boxed  badge-outline-danger">
																		Declined invitation</span>
																{% elseif  myreview.acceptedAt %}

																	<span class="badge badge-boxed  badge-outline-success">
																		Responded</span>
																{% elseif  myreview.Closed %}

																	<span class="badge badge-boxed  badge-outline-info">
																		Closed</span>
																{% elseif  myreview.InactiveAssignment == 1 %}
																	<span class="badge badge-boxed  badge-outline-danger">Inactive
																	</span>
																	<br>
																{% else   %}
																	<spanclass="badgebadge-boxedbadge-outline-warning">
																		Pending</span>
																{% endif   %} #}
															</span>

														</td>
													</tr>
												{% else %}
													No records found  under this section

												{% endfor %}
											</thead>
										</tbody>
									</table>
								</div>
								<!--end /tableresponsive-->
							</div>
							<!--end card-body-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
