{% extends 'base.html.twig' %}

{% block title %}Submission
{% endblock %}
 {% block styles %}
 
  <link rel="stylesheet" href="{{asset('assets/dist/css/adminlte.min.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endblock %}

{% block container_title %}Submission details
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-lg-9">

			<h4>Project progress
			</h4>

			{{ include('submission/progress.html.twig') }}
			<div class="row">
				<div class="col-lg-12">
					<div class="row mb-0">
						<div class="col-sm-2 text-sm-right">
							<dt>
								{% if submission.sentAt %}
									{{ submission.sentAt|date() }}
								{% endif %}
							</dt>
							<span class="label label-{% if submission.submissionType=='mega' %}success {% elseif submission.submissionType=='grant'%}info{% elseif submission.submissionType=='technology'%}primary{% elseif submission.submissionType=='community'%}warning{% endif %}">{{ submission.submissionType }}</span>
						</div>
						<div class="col-sm-9 text-sm-left">

							<div class="nowrap">
								<div style="width: 100%;" class="text-success strong">
									<h5 class="font-16 m-0 fw-bold">
										{{ submission.Title }}:{{ submission.subTitle }}

									</h5>
								</div>
							</div>
							<small>
								{{ submission.author }}
							</small>
						</dd>
					</div>
					<div class="col-sm-1 text-sm-left">

						<div class="nowrap">
							<div style="width: 100%;" class="text-success strong">

								<a class="badge bg-primary" href="{{ path('research_sumary', {'uid': submission.uidentifier }) }}">
									PDF
									<i class="fa fa-download"></i>
								</a>


							</div>
						</div>

					</div>

				</div>
			</div>

			<div class="row m-t-sm">
				<div class="col-lg-12">
					<div class="panel blank-panel">
						<div class="panel-heading">
							<div class="panel-options">
								<ul class="nav nav-pills nav-justified">
									<li>
										<a class="nav-link active" href="#tab-1" data-bs-toggle="tab">Research detail</a>
									</li>
									<li>
										<a class="nav-link" href="#Revision" data-bs-toggle="tab">Revision</a>
									</li>
									<li>
										<a class="nav-link "  href="#report" data-bs-toggle="tab">Reports</a>
									</li>
									{% if submission.copyedit is  not empty %}
										<li>
											<a class="nav-link" href="#copyedit" data-bs-toggle="tab">Progress report</a>
										</li>

									{% endif %}
									{% if submission.copyedit is  not empty %}

										<li>
											<a class="nav-link" href="#progress-report" data-bs-toggle="tab">Progress report</a>
										</li>
									{% endif %}


									{% if submission.copyedit is  not empty %}
										<li>
											<a class="nav-link" href="#research" data-bs-toggle="tab">Research</a>
										</li>
									{% endif %}
									{% if submission.terminalreport is  not  empty %}
										<li>
											<a class="nav-link" href="#terminal-report" data-bs-toggle="tab">Publication</a>
										</li>
									{% endif %}
									{% if submission.published is  not empty %}
										<li>
											<a class="nav-link" href="#publication" data-bs-toggle="tab">Publication</a>
										</li>
									{% endif %}
								</ul>
							</div>


							<div class="panel-body">

								<div class="tab-content">
									<div class="tab-pane " id="tab-1">
										<div class="row">


											<h4 class='text-primary m-3'>
												Research details</h4>


											<div class="accordion" id="accordionExample">
												<div class="accordion-item active">
													<h5 class="accordion-header m-0" id="headingOne">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
															Executive summary/ Abstract
														</button>
													</h5>
													<div id="collapseOne" class="accordion-collapse collapse active" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body active">
															<h3>
																<a href="#" class="text-navy">
																	Executive summary
																</a>
															</h3>
															<p class="medium">

																{{ submission.abstract |raw}}
															</p>
															<div class="m-t-sm">
																<a href="#" class="text-muted">Keywords:
																</a>
																{{ submission.keywords}}
															</div>


														</div>
													</div>
												</div>
												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingTwo">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
															Backgrouund And Rationale
														</button>
													</h5>
													<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">

															{{ submission.BackgroundAndRationale |raw}}

														</div>
													</div>
												</div>

												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="Objectives">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoo" aria-expanded="false" aria-controls="collapseTwoo">
															Objectives
														</button>
													</h5>
													<div id="collapseTwoo" class="accordion-collapse collapse" aria-labelledby="Objectives" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">

															<h5 class="font-20 fw-bold d-block mt-2">General objective:</h5>
															<p>
																{{ submission.GeneralObjective }}
															</p>
															<h5 class="font-20 fw-bold d-block mt-2">Specific Objectives:</h5>

															<ul class="list-unstyled mb-0 row">
																{% for objective in submission.specificObjectives %}
																	<li class="col-12 my-1 p-1 list-unstyled">

																		{{ loop.index }}
																		{{ objective.objective}}


																	</li>
																{% endfor %}

															</ul>

														</div>
													</div>
												</div>


												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingSpn">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
															Methodology
														</button>
													</h5>
													<div id="collapseOther" class="accordion-collapse collapse" aria-labelledby="headingSpn" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">

															{{ submission.methodology |raw}}

														</div>
													</div>
												</div>
												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingLastTwo">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collepaselast" aria-expanded="false" aria-controls="collepaselast">
															Action plan
														</button>
													</h5>
													<div id="collepaselast" class="accordion-collapse collapse" aria-labelledby="headingLastTwo" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">

															<div class="table table-responsive">
																{{  submission.actionplan |raw }}
															</div>


															<h5 class='text-'>Budget breakdown</h5>
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th>#</th>
																		<th>Expense category</th>
																		<th>Cost
																		</th>
																		<th>Quantity
																		</th>
																		<th>Description
																		</th>

																		<th>Total
																		</th>
																	</tr>
																</thead>
																<tbody>
																	{% set total = 0 %}


																	{% for expense in expenses %}
																		<tr>
																			<td>{{ loop.index }}</td>
																			<td>{{ expense.category }}</td>

																			<td>{{ expense.cost }}</td>
																			<td>{{ expense.quantity }}</td>
																			<td>{{ expense.description }}</td>
																			<td>
																				{{ expense.cost * expense.quantity }}
																			</td>
																			{% set total = total + (expense.cost * expense.quantity)  %}
																		</tr>


																	{% else %}
																		<tr>
																			<td colspan="4">no records found</td>
																		</tr>
																	{% endfor %}
																	<tr class="bg-black text-white">
																		<td colspan="4" class="border-0 font-14">
																			<b>Grand Total</b>
																		</td>
																		<td class="border-0 font-14"></td>
																		<td class="border-0 font-14">
																			<b>{{ total }}
																				ETB</b>
																		</td>
																	</tr>
																</tbody>
															</table>{#{% endif %}#}<div class="table-responsive">
																{% if submission.researchTimeTables|length >0 %}

																	<h4>Time table :
																	</h4>

																	<table class="table table-bordered">

																		<thead>
																			<tr class="bg-gray-dark">
																				<th>Task</th>

																				<th>Date Start</th>

																				<th>Date End</th>
																				<th>Remark</th>
																			</tr>
																		</thead>
																		<tbody>
																			{% for schedule in submission.researchTimeTables %}
																				<tr>
																					<td>{{ schedule.task }}</td>
																					<td>
																						{{ schedule.DateStart|date('d M Y ') }}
																					</td>
																					<td>
																						{{ schedule.DateEnd|date('d M Y') }}
																					</td>
																					<td>{{ schedule.remark }}</td>


																				</tr>
																				{% else %}

																			{% endfor %}


																		</tbody>
																	</table>
																	{% else %}
																{% endif %}
															</div>
														</div>
													</div>
												</div>
												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingLastFTwo">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collepaselastsyn" aria-expanded="false" aria-controls="collepaselastsyn">References</button>
													</h5>
													<div id="collepaselastsyn" class="accordion-collapse collapse" aria-labelledby="headingLastFTwo" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">{{ submission.Reference |raw}}</div>
													</div>
												</div>
												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingLastFThree">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ResearchOutcome" aria-expanded="false" aria-controls="ResearchOutcome">Research  Outcome</button>
													</h5>
													<div id="ResearchOutcome" class="accordion-collapse collapse" aria-labelledby="headingLastFThree" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">{{ submission.ResearchOutcome |raw}}</div>
													</div>
												</div>
												<div class="accordion-item">
													<h5 class="accordion-header m-0" id="headingLastFThree">
														<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#members" aria-expanded="false" aria-controls="members">Research members</button>
													</h5>
													<div id="members" class="accordion-collapse collapse" aria-labelledby="headingLastFThree" data-bs-parent="#accordionExample" style="">
														<div class="accordion-body">


															<h4 class='text-'>Research team({{  submission.coAuthors|length +1}})</h4>


															<div class="row">

																<div class="col-lg-4">
																	<div class="card">
																		<div class="card-body">
																			<div
																				class="text-center">
																				{# <img class="me-3 rounded-circle thumb-xl" src="assets/images/users/user-4.jpg" alt=""> #}

																				{% if submission.author.userInfo.image   %}
																					<img src="{{ asset('files/profile_pictures/'~ submission.author.userInfo.image ) }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																				{% else %}
																					<img src="{{ asset('/img/defaultuser.png') }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																				{% endif %}

																				<div class="">
																					<h5 class="mb-0">
																						{{ submission.author.userInfo}}</h5>
																					<small class="text-muted">
																						{{ submission.author.userInfo.college}}</small>

																				</div>
																				<p class="text-muted px-2">
																					{{ submission.author.userInfo.department}}
																				</p>

																				<p class="text-muted mb-2">{{ submission.author.userInfo.academicRank }}</p>
																				<div class="mb-3">
																					<span class='me-3  text-success'>Principal Investigtor</span>
																				</div>
																				<a href='{{path('researcher',{'id':submission.author.id})}}' class="btn btn-sm btn-soft-primary">
																					More Detail</a>
																			</div>
																		</div>
																		<!--end card-body-->
																	</div>
																	<!--end card-->
																</div>

																{% for co_author in  submission.coAuthors %}
																	<div class="col-lg-4">

																		<div class="card">

																			<div class="card-body text-center">


																				{% if co_author.researcher.userInfo.image   %}
																					<img src="{{ asset('files/profile_pictures/'~ co_author.researcher.userInfo.image ) }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																				{% else %}
																					<img src="{{ asset('/img/defaultuser.png') }}" class="d-block mx-auto rounded-circle thumb-md" alt="profile">
																				{% endif %}

																				<h5 class="fw-bold mt-3 mb-1">{{ co_author.researcher.userInfo}}
																					<sapn class="text-muted mb-0">({{ co_author.researcher.userInfo.educationLevel }})</span>
																				</h5>
																				<p class="text-muted mb-0">{{ co_author.researcher.userInfo.college }}</p>
																				<p class="text-muted mb-0">{{ co_author.researcher.userInfo.department }}</p>
																				<p class="text-muted mb-0">{{ co_author.researcher.userInfo.academicRank }}</p>
																				<div class="mb-3">
																					<a href="apps-tasks.html#" class="me-3 text-warning">
																						{{ co_author.role }}</a>
																					{# {{ co_author.researcher|length}} #}
																					{# <a href="apps-tasks.html#" class=" text-warning">295 Coauthorship</a> #}
																				</div>

																				<a href='{{path('researcher',{'id':co_author.researcher.id})}}' class="btn btn-sm btn-soft-primary">More details</a>

																			</div>
																		</div>
																	</div>
																{% endfor %}

															</div>


														</div>


													</div>
												</div>

											</div>

										</div>

									</div>

{# start of report tab #}

{% include "submission/tabs/report.html.twig" %}
{# end of report tab #}

									<div class="tab-pane" id="Revision">

										<h3>
											<a href="#" class="text-navy">
												Responses   and revisions
											</a>
										</h3>

										{% for review in reviews %}

											<table class="table table-bordered table-striped">

												<tbody>
													<tr>
														<td class="desc">

															<p class="small">

																{{ review.comment |raw}}
															</p>
															<dl class="small m-b-none">
																<dt>Revised at
																	{{ review.CreatedAt ?
                                                        review.CreatedAt|date('Y-m-d H') : '' }}
																</dt>
															</dl>

															<div class="m-t-sm">

																{% if review.attachment %}
																	<a href="{{ asset('/files/proposals/review_files/'~ review.attachment ) }}" class="font-14 m-0   btn btn-xs btn-soft-primary">
																		Evaluation Report
																		<i class="fa fa-download material-icons  "></i>
																	</a>

																{% endif %}
																{% if review.EvaluationAttachment %}
																	<a href="{{ asset('/files/proposals/review_files/'~ review.EvaluationAttachment ) }}" class="font-14 m-0   btn btn-xs btn-soft-primary">
																		Grading report
																		<i class="fa fa-download material-icons  "></i>
																	</a>

																{% endif %}

																{% if review.fromDirector %}
																	<span class="badge badge-boxed  badge-outline-success">
																		{{ review.ReviewedBy.userInfo }}
																	</span>
																{% endif %}

															</div>
														</td>
														<td width="65" nowrap="nowrap">
															<h5 class='text-default'>
																{% if review.ReviewedBy.isReviewer %}

																	<span class="badge badge-boxed  badge-outline-primary">
																		External reviewer</span>

																{% else %}
																	<span class="text-success"></span>
																	<span class="badge badge-boxed  badge-outline-success">
																		Internal reviewer</span>


																{% endif %}
																<br>
																{% if review.fromDirector %}
																	<span class="badge badge-boxed  badge-outline-info mt-2">
																		Research Co-ordinator

																	</span>
																	{{ include('review/_delete_form.html.twig') }}


																{% endif %}

															</h5>
															{# <h4 class='text-primary'> #}

															{# {{ review.remark |raw}} #}
															<b>
																<h5>
																	{% if   review.remark==1 %}
																		<span class="text-danger">
																			Declined</span>

																	{% elseif   review.remark==2 %}
																		<span class="text-warning">
																			Accepted with major revision</span>
																	{% elseif   review.remark==3 %}
																		<span class="text-warning">
																			Accepted with minor revision
																		</span>
																	{% elseif   review.remark==4 %}

																		<span class="text-success">
																			Accepted
																		</span>
																	{% endif   %}
																</h5>

															</b>
															{# </h4> #}

															<hr>
															{% if review.AllowToView=='' %}

																<a href="{{ path('allocomment', {'id': review.id}) }}" class="btn btn-soft-primary btn-xs  mt-1" onsubmit="return confirm('Are you sure you want to sendcommentto PI ?');">
																	Send   comment to PI</a>
															{% elseif review.AllowToView=='1'  %}
																<span class="badge badge-boxed  badge-outline-success">
																	Comment sent</span><br>
																<a href="{{ path('undo_allocomment', {'id': review.id}) }}" class="btn btn-soft-danger btn-xs  mt-1">
																	Unsend comment from PI</a>

																{% else %}

															{% endif %}

															<hr>
															{# {{editorialDecisions.decision}} #}
														</td>
													</tr>
												</tbody>
											</td>
										</tr>
									</tbody>
								</table>

								{% else %}

							{% endfor %}


							<hr>
							{{ form_start(adminvevisionform) }}
							{{ form_widget(adminvevisionform) }}
							<button class="btn btn-primary">{{ button_label|default('Submit Review') }}</button>
							{{ form_end(adminvevisionform) }}


						</div>
					</div>
					<br>
					<br>
					<br>
				</div>
{# <div class="tab-pane" id="copyedit">
{{ submission.abstract|raw }}
</div>
<div class="tab-pane" id="progress-report">
{{ submission.title }}
</div>
<div class="tab-pane" id="terminal-report"></div> #}
</div>
		</div>

	</div>
</div></div></div><div class="col-lg-3"><div class="card team-card">
<div class="card-body">
	<div class="float-end">
		<div class="dropdown d-inline-block"></div>
	</div>
	<div class="media align-items-center">

		{% if submission.author.userInfo and submission.author.userInfo.image %}


			<img src="{{ asset('files/profile_pictures/'~submission.author.userInfo.image ) }}" alt="" class="rounded-circle user-img">
		{% else %}

			<img src="{{ asset('/img/defaultuser.png') }}" alt="" class="rounded-circle user-img">


		{% endif %}


		<div class="online-circle">
			<i class="fa fa-circle text-success"></i>
		</div>
		<div class="media-body ms-3 align-self-center">
			<h4 class="team-leader m-0">{{submission.author.userInfo}}</h4>
			<p class="text-muted font-12 mb-0">Research PI</p>
		</div>
	</div>
	<h4 class="m-0 mt-4 font-14 font-weight-semibold">{{submission.CallForProposal.ResearchType}}
		Team</h4>
	<p class="text-muted mb-0">
		{{submission.title}}</p>

	<div class="mt-4 d-flex justify-content-between">
		<div class="img-group">


			{% if submission.author.userInfo and  submission.author.userInfo.image %}

				<a class="user-avatar user-avatar-group" href="##{{submission.id}}">
					<img src="{{ asset('files/profile_pictures/'~submission.author.userInfo.image ) }}" alt="user" class="rounded-circle thumb-xxs">
				</a>

			{% else %}
				<a class="user-avatar user-avatar-group" href="apps-project-teams.html#{{submission.id}}">
					<img src="{{ asset('/img/defaultuser.png') }}" alt="user" class="rounded-circle thumb-xxs">
				</a>
			{% endif %}


			{% for member in submission.coAuthors %}


				{% if member.researcher.userInfo and member.researcher.userInfo.image %}

					<a class="user-avatar user-avatar-group" href="##{{submission.id}}">
						<img src="{{ asset('files/profile_pictures/'~member.researcher.userInfo.image ) }}" alt="user" class="rounded-circle thumb-xxs">
					</a>


					{# <img src="{{ asset('files/profile_pictures/'~app.user.userInfo.image ) }}" alt="" class="rounded-circle" style="width:110px; height:110px;"> #}
				{% else %}
					<a class="user-avatar user-avatar-group" href="##{{submission.id}}">
						<img src="{{ asset('/img/defaultuser.png') }}" alt="user" class="rounded-circle thumb-xxs">
					</a>
				{% endif %}

				{% else %}No Co-PI has been involved
			{% endfor %}


			<a href="#" class="avatar-box thumb-xxs align-self-center">
				<span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">
					+{{ submission.coAuthors|length   }}
				</span>
			</a>

		</div>

	</div>
	
	<hr class="hr-dashed my-4">

{% if submission.granted==1 %}

 	<a href="" class='container btn btn-outline-success mt-2 btn-sm btn-block'>Winner 
			<i class="fa fa-check text-success"></i>
	</a>
		
{% elseif submission.granted=='0' %}
	<a href="{{ path('grant_winner', {'id': submission.id}) }}" class='container btn btn-outline-danger mt-2 btn-sm btn-block'>Not granted</a>

	{% elseif  submission.granted is null  %}
	<a href="{{ path('grant_winner', {'id': submission.id}) }}" class='container btn mt-2 btn-primary btn-sm btn-block'>Declare grant</a>

{% endif %}										
	 </div> 
	</div>
	<div class="card">
<div class="card-header ">
	<h4 class="font-18 m-0 fw-bold">Attachments</h4>

</div>
<div class="card-body ">
	{% for submissionattachment in submission.submissionAttachements %}
		<a href="{{ asset('/uploads/submission/'~ submissionattachment.file ) }}" class="btn btn-info btn-xs float-right">
			{{submissionattachment.name}}
			<i class="fa fa-download material-icons warning"></i>
		</a>
	{% else %}
		<span class="label label-danger">
			{% trans %}No attachement found{% endtrans %}</span>
	{% endfor %}
</div></div><div class="card">
<div class="card-header ">
	<h4 class="font-18 m-0 fw-bold">Co-PI confirmation:</h4>

</div>

<div class="card-body ">


	{% for member in submission.coAuthors %}
		{{loop.index}}{# {{member.researcher}} #}<a href='{{path('researcher',{'id':member.researcher.id})}}'>
			{{ member.researcher.userInfo }}</a>
		{% if member.confirmed=='1' %}
			<i class="fa fa-check text-success"></i>
		{% elseif member.confirmed==''    %}
			<i class="fa fa-times-circle text-danger"></i>


			{# {% elseif member.confirmed=='0'    %}  <i class="fa fa-close text-danger"></i>      #}
		{% else  %}
			<i class="fa fa-close text-danger"></i>
		{% endif %}<br>{% else %}No Co-PI has been involved
	{% endfor %}
</div></div><div class="card">
<div class="card-header ">
	<h5 class="font-18 m-0 fw-bold">Reviewers ({{review_assignments|length}})
		<a href="{{ path('review_assignment_new', {'id': submission.id}) }}" class='font-16 m-0   btn btn-sm btn-soft-primary btn-xs mb-1 align-right'>
			Add  Reviewer</a>
	</h5>
</div>

<div class="card-body ">


	{% for review_assignment in review_assignments %}

		<div class="card">
			<div class="card-body ">
				<div class="media align-items-center">

					{% if review_assignment.reviewer.userInfo and review_assignment.reviewer.userInfo.image %}

						<img src="{{ asset('files/profile_pictures/'~review_assignment.reviewer.userInfo.image ) }}" alt="" class="rounded-circle thumb-xs">
					{% else %}

						<img src="{{ asset('/img/defaultuser.png') }}" alt="" class="rounded-circle thumb-xs">
					{% endif %}
					<div class="media-body ms-3 align-self-center">
						<h4 class="team-leader m-0">

							<a href="{{ path('researcher', {'id': review_assignment.reviewer.id}) }}" class='font-16 m-0
																									  mb-1 align-right'>{{ review_assignment.reviewer }}

							</a>
						</h4>
						<p class="text-muted font-12 mb-0">
							{% if review_assignment.reviewer.isReviewer  %}
								<span class="text-soft-primary">External
								</span>

							{% else %}
								<span class="text-soft-success">Internal


								</span>
							{% endif %}
						</p>
					</div>
				</div>


				<a href="#" class="avatar-box thumb-xxs align-self-center">
					<span class="avatar-title bg-soft-dark rounded-circle font-10 font-weight-normal">
						{{loop.index}}
					</span>
				</a>

				{% if review_assignment.reassigned %}

					<a href="#" class="avatar-box thumb-xxs align-self-center">
						<span class="avatar-title bg-soft-danger rounded-circle font-13 font-weight-normal">
							Re
						</span>
					</a>
				{% endif %}


				<p class="text-muted  mb-0 font-13">
					<span class="text-dark text-muted">
						Invitation Sent :
						{{ review_assignment.InvitationSentAt ? review_assignment.InvitationSentAt|date('Y-m-d H:i') : '' }}
					</span>
					<br>
					<span class="text-dark text-muted">
						Invitaion duedate:
						{{ review_assignment.InvitationDueDate ? review_assignment.InvitationDueDate|date('Y-m-d') : '' }}
					</span>
					<br>
					<span class="text-dark text-muted">
						Review duedate:
						{{ review_assignment.duedate ? review_assignment.duedate|date('Y-m-d') : '' }}
					</span>
					<br>
					<span class="text-dark text-muted">
						Invitaion  response:
						{% if  review_assignment.Declined %}
							<span class="text-danger ">
								Declined</span>
						{% elseif  review_assignment.Closed %}

							<span class="text-primary">
								Closed</span>
						{% elseif  review_assignment.IsAccepted %}

							<span class="text-info">
								Reviewing</span>
						{% elseif  review_assignment.InactiveAssignment == 1 %}
							<span class="badge bg-danger">Inactive
							</span>
							<br>

						{% else   %}

							<span class="text-warning">
								Pending</span>


						{% endif   %}

						{% for review in review_assignment.reviews %}
							<hr>
							<h5>
								Decision:

								{% if   review.remark==1 %}
									<span class="text-danger">
										Declined</span>

								{% elseif   review.remark==2 %}
									<span class="text-warning">
										Accepted with major revision</span>
								{% elseif   review.remark==3 %}
									<span class="text-warning">
										Accepted with minor revision
									</span>
								{% elseif   review.remark==4 %}

									<span class="text-success">
										Accepted
									</span>


								{% endif   %}

							</h5>
							{% if  review.AllowToView  %}

								<small class="text-info">
									Comment sent</small>

							{% endif   %}

						{% endfor %}
						<hr>


					</span>

				</p>
				<div class="row mt-4 d-flex align-items-center">
					<div class="col">

						<div class="row mt-2 d-flex align-items-center">
							<div
								class="col">


								{# {{ include('review_assignment/_delete_form.html.twig') }} #}
								<form method="post" action="{{ path('unassign', {'id': review_assignment.id}) }}" onsubmit="return confirm('Are you sure you want to unassign{{review_assignment.reviewer }} from reviewers list?');">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review_assignment.id) }}">

									{% if review_assignment.reviewer.isReviewer  %}
										<span class=" btn btn-xs btn-soft-primary">External


											<a href="{{path('his_assignment',{'id':review_assignment.reviewer.id})}}" class="avatar-box thumb-xxs align-self-center">
												<span class="avatar-title bg-soft-primary rounded-circle font-13 font-weight-normal">
													+
													{{review_assignment.reviewer.reviewAssignments|length}}
												</span>
											</a>
										</span>
									{% else %}
										<span class="btn btn-xs btn-soft-success">Internal

											<a href="{{path('his_assignment',{'id':review_assignment.reviewer.id})}}" class="avatar-box thumb-xxs align-self-center">
												<span class="avatar-title bg-soft-success rounded-circle font-13 font-weight-normal">
													+
													{{review_assignment.reviewer.reviewAssignments|length}}
												</span>
											</a>
										</span>
									{% endif %} 
									<a href="{{ path('unassign', {'id': review_assignment.id}) }}" class="btn btn-sm btn-soft-warning btn-sm" onclick="return confirm('Are you sure you want to delete  {{review_assignment.reviewer }} from reviewers list?');">
										Unassign</a>

									{% if review_assignment.closed %}


										<a href="{{ path('reassign', {'id': review_assignment.id}) }}" class='btn btn-sm btn-soft-primary btn-sm '>
											Re-assign</a>
									{% endif %}


								</form>

								{# <script src="{{ asset('ui/js/jquery.min.js') }}"></script> #}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}No reviewers has been assigned yet

	{% endfor %}
</div></div></div><br><br>{% endblock %}
