{% set phase = submission.callForProposal.researchReportPhase %}
<div class="tab-pane " id="progress-report">

	<h2>Reports</h2>
	{% set schedule_count  = submission.researchReportSubmissionSettings|length %}
	{% if schedule_count > 0 %}
		<button type="button" class="btn btn-info float-right" data-bs-toggle="modal" data-bs-target="#exampleModalSmall">
			View Your Report Schedule
		</button>

		<div>
			{% for report in research_reports %}
				<div class="font-24 my-2 fw-bold">
					Report
					{{loop.index}}{{loop.index == schedule_count ?"(Terminal Report)":""}}</div>
				<div class="font-17 m-0 fw-bold">
					{{report.title}}</div>
				<a class="btn btn-bd-download btn-info" href="{{asset('research-report')}}/{{report.file}}">Open File</a>
				<div class="font-16 m-0 ">
					{{report.remark}}</div>
				<div class="font-13 m-0 fw-bold text-green bg-red-50 float-right">
					<a class="btn  btn-sm btn-secondary m-2" href="#">Review research report</a>

					Submission Date:-
					{{report.submittedAt|date('Y-m-d')}}</div>
			{% else %}
				<div> No Reports submitted yet</div>
			{% endfor %}
		</div>

		{% if  research_reports|length  < phase.numberOfPhases   %}
			{% if  allowedToSubmitReport(submission.researchReportSubmissionSettings,research_reports)  %}

				<div>
					{{ form_start(research_report_form,{"attr":{"onsubmit":"return confirm('are you sure?')"}}) }}
					{{ form_widget(research_report_form) }}
					<button class="btn btn-success" type="submit">Submit</button>
					{{ form_end(research_report_form) }}
				</div>
			{% else %}
				<div>
					<span class="h2 text-red">{{ timeAgo(submission.researchReportSubmissionSettings[research_reports|length].submissionDate,null) }}
					</span>for next report submission</div>
			{% endif %}
		{% endif %}
	{% else %}
		<div class="p text-black-50">
			Note:-
			{{phase.note}}
		</div>
		<div class="p text-black">
			<ul>
				<li>Start Date:-
					{{phase.startDate|date('F d,Y')}}</li>
				<li>End Date:-
					{{phase.endDate|date('F d,Y')}}</li>
				<li>Number of Phases:-
					{{phase.numberOfPhases}}</li>
				<li>Tolerable Days:-
					{{phase.tolerableDay}}
					Days</li>
				<li>Minimum Days after last report:-
					{{phase.maximumDuration}}
					Days</li>

			</div>

			{% if submission_report_schedule_form is defined %}


				{{ form_start(submission_report_schedule_form,{"attr":{"onsubmit":"return confirm('are you sure?')"}}) }}

				<div class="row">
					{% for child in submission_report_schedule_form.children %}
						<div class="col-4">
							{% if  child.vars.name!="_token" %}
								<div class="h5 text-black-50">Phase
									{{loop.index}}</div>
								{{ form_label(child,"Submission Date") }}
								{{ form_widget(child,{"attr":{"data-phase":loop.index,"data-last":loop.length-1 == loop.index ?"last":"not-last"}}) }}

								{{ form_errors(child) }}
							{% endif %}

						</div>
					{% endfor %}
				</div>
				<button class="btn btn-success my-3 float-right schedule-submit-button" type="submit">Submit</button>

				{{ form_end(submission_report_schedule_form) }}
			{% endif %}
		{% endif %}
	</div>


	<div class="modal fade bd-example-modal-lg" id="exampleModalSmall" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title m-0" id="mySmallModalLabel">Your Research Report Submission Schedule</h6>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<!--end modal-header-->
				<div
					class="modal-body text-center">
					<!--end modal-footer-->

					<table class="table">
						<thead>
							<tr>
								<th>Phase</th>
								<th>Submission Date</th>
							</tr>
						</thead>
						<tbody>
							{% for submissionSetting in submission.researchReportSubmissionSettings %}
								<tr>
									<td>{{submissionSetting.phase}}{{loop.last?"(Terminal report)":""}}</td>
									<td>{{submissionSetting.submissionDate|date('F d, Y')}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!--end modal-content-->
			</div>
			<!--end modal-dialog-->
		</div>
	</div>
	<!--end modal-->
