<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.1plusMathML2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by LibreOffice - see https://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.--><head profile="http://dublincore.org/documents/dcmi-terms/"><meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/><title xml:lang="en-US">- no title specified</title><meta name="DCTERMS.title" content="" xml:lang="en-US"/><meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/><meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/><meta name="DCTERMS.creator" content="hloom.com"/><meta name="DCTERMS.issued" content="2018-03-16T04:45:00" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.modified" content="2021-11-24T00:30:08.207970369" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.provenance" content="" xml:lang="en-US"/><meta name="DCTERMS.subject" content="," xml:lang="en-US"/><link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/><link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/><link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
<title>{{name}} </title>
<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/><style type="text/css">
			@page {}
			table {
				border-collapse: collapse;
				border-spacing: 0;
				empty-cells: show
			}
			body{
	margin:5;
  	background-image:url("https://research.ju.edu.et/cert_templates/21.jpg");
				  background-size:     cover;    
     background-repeat:   no-repeat;
    background-position: center center;  
	  		}
			td,
			th {
				vertical-align: top;
				font-size: 12pt;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				clear: both;
			}
			ol,
			ul {
				margin: 0;
				padding: 0;
			}
			li {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			/* "li span.odfLiEnd" - IE 7 issue*/
			li span. {
				clear: both;
				line-height: 0;
				width: 0;
				height: 0;
				margin: 0;
				padding: 0;
			}
			span.footnodeNumber {
				padding-right: 1em;
			}
			span.annotation_style_by_filter {
				font-size: 95%;
				font-family: Arial;
				background-color: #fff000;
				margin: 0;
				border: 0;
				padding: 0;
			}
			span.heading_numbering {
				margin-right: 0.8rem;
			}
			* {
				margin: 0;
			}
			.fr1 {
				font-size: 12pt;
				font-family: Calibri;
				vertical-align: top;
				writing-mode: horizontal-tb;
				direction: ltr;
				margin: 0;
				background-color: transparent;
				padding: 0;
				border-style: none;
			}
			.fr2 {
				font-size: 12pt;
				font-family: Calibri;
				text-align: center;
				vertical-align: top;
				writing-mode: horizontal-tb;
				direction: ltr;
				margin: 0;
				background-color: transparent;
				padding: 0;
				border-style: none;
			}
			.Header {
				color: #333333;
				font-size: 12pt;
				line-height: 100%;
				margin-bottom: 0;
				margin-top: 0;
				text-align: center ! important;
				font-family: Cambria;
				writing-mode: horizontal-tb;
				direction: ltr;
			}
			.Heading_20_2 {
				color: #b90504;
				font-size: 36pt;
				line-height: 100%;
				margin-bottom: 0;
				margin-top: 0;
				text-align: center ! important;
				font-family: Old English Text MT;
				writing-mode: horizontal-tb;
				direction: ltr;
			}
			.Heading_20_3 {
				color: #333333;
				font-size: 18pt;
				line-height: 100%;
				margin-bottom: 0;
				margin-top: 0;
				text-align: center ! important;
				font-family: Cambria;
				writing-mode: horizontal-tb;
				direction: ltr;
				font-weight: bold;
			}
			.P1 {
				color: #52abde;
				font-size: 48pt;
				letter-spacing: 0.0138in;
				line-height: 100%;
				margin-bottom: 0;
				margin-top: 0;
				text-align: center ! important;
				font-family: Old English Text MT;
				writing-mode: horizontal-tb;
				direction: ltr;
			}
			.P5 {
				color: #333333;
				font-size: 12pt;
				line-height: 100%;
				margin-bottom: 0.1665in;
				margin-top: 0.1665in;
				text-align: center ! important;
				font-family: Cambria;
				writing-mode: horizontal-tb;
				direction: ltr;
			}
			.Standard {
				font-size: 12pt;
				font-family: Cambria;
				writing-mode: horizontal-tb;
				direction: ltr;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 100%;
				text-align: center ! important;
				color: #333333;
			}
			.T1 {
				font-size: 55pt;
			}
			.T2 {
				font-size: 16pt;
			}
			.T3 {
				color: #e61070;
			}
			/* ODF styles with no properties representable as CSS */
			{}
		</style>
	</head>
	<body dir="ltr" style="   ">
		<div style="max-width:15in; margin:1.5in;">
		<h1 class="P1">
			<a id="a__Certification_of_Donation"><span/></a><a id="_GoBack"/><span class="T1"><br/>
            
            Certification of {{type|raw}}  </span>
		</h1>
		<p class="Standard"></p>
		<p class="Standard"></p>
		<h3 class="Heading_20_3">
			<a id="a__The_Hloom_Berg"><span/></a> {{training.College}} </h3><!--Next 'div' was a 'text:p'.--><div class="P5">

			{{desc|raw}}
		</span>
	</div>
 	<p class="ard">
		<span class="T2">This certificate is awarded to {{name}} for attending a {{training.name}} training held on  
		{{ training.createdAt ? training.createdAt|date('Y-m-d H:i:s') : '' }}
		 </span>
	</p>
	<p class="Standard"></p>
	<h2 class="Heading_20_2">
		<a id="a___Name_of_the__"><span/></a>
		<span class="T3">{{ name}}</span>
	</h2>
	<p class="Standard"><span class="T2"/></p>
		<p class="Standard">{{training.College.principalContact|raw}}</p>

		</div>

</body></html>
