<div class="topbar">
	<nav class="navbar-custom">
		<ul class="list-unstyled topbar-nav float-end mb-0">
			<li class="dropdown hide-phone">
				<a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<i class="fas fa-search topbar-icon"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
					<div class="app-search-topbar">
						<form action="#" method="get">
							<input type="search" name="search" class="from-control top-search mb-0" placeholder="Type text...">
							<button type="submit">
								<i class="ti-search"></i>
							</button>
						</form>
					</div>
				</div>
			</li>
 
			<li class="dropdown">
				<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<span class="ms-1 nav-user-name hidden-sm">{{ app.user.email }}</span>
					{# <img src="{{ asset('assets/images/users/user-5.jpg')}}" alt="profile-user" class="rounded-circle thumb-xs"/> #}

					{% if app.user.userInfo and app.user.userInfo.image %}

						<img src="{{ asset('files/profile_pictures/'~app.user.userInfo.image ) }}" alt="profile-user" class="rounded-circle thumb-xs" style="width:30px;height: 30px;"/>
					{% else %}

						<img src="{{ asset('img/defaultuser.png') }}" alt="profile-user" class="rounded-circle thumb-xs" style="width:30px;height: 30px;"/>

					{% endif %}

				</a>
				<div class="dropdown-menu dropdown-menu-end">
					<a class="dropdown-item" href="{{path('researchworks')}}">
						<i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i>
						Profile</a>


					<a class="dropdown-item" href="{{ path('homepage') }}">
						<i data-feather="" class="fa fa-globe icon-xs icon-dual me-1"></i>
						Go to site</a>

					<div class="dropdown-divider mb-0"></div>
					<a class="dropdown-item" href="{{path('app_logout')}}">
						<i data-feather="user" class="fa fa-lock  icon-xs icon-dual me-1"></i>
						Logout</a>
				</div>
			</li>
		</ul>
		<!--end topbar-nav-->

		<ul class="list-unstyled topbar-nav mb-0">

			<li>
				<button
					class="nav-link button-menu-mobile">
					<!-- <i data-feather="menu" class="align-self-center topbar-icon"></i> -->
					<i data-feather="menu" class="fa fa-bars "></i>
				</button>
			</li>

			<li class="creat-btn">
				<div class="nav-link">
					<a class=" btn btn-sm btn-soft-primary" href="{{path('homepage')}}" role="button">
						<i class="fas fa-arrow-right me-2"></i>View site</a>
				</div>
			</li>
		</ul>
	</nav>
	<!-- end navbar-->
</div>
