{% extends 'base.html.twig' %}

{% block title %}EvaluationFormOption{% endblock %}

{% block body %}
    <h1>EvaluationFormOption</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evaluation_form_option.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ evaluation_form_option.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evaluation_form_option.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ evaluation_form_option.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evaluation_form_option_index') }}">back to list</a>

    <a href="{{ path('evaluation_form_option_edit', {'id': evaluation_form_option.id}) }}">edit</a>

    {{ include('evaluation_form_option/_delete_form.html.twig') }}
{% endblock %}
