{{ form_start(form) }}
<div class="row">

	<div class="form-group col-md-6">
		<label class="col-sm-5 control-label no-padding-right">{{ form_label(form.name) }}</label>
		{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group col-md-6">
		<label class="col-sm-5 control-label no-padding-right">{{ form_label(form.description) }}</label>
		{{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>


</div>


<button class="btn btn-success float-right">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
