{% extends 'base.html.twig' %}

{% block title %}ResearchReport index{% endblock %}

{% block body %}
    <h1>ResearchReport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>File</th>
                <th>FileType</th>
                <th>SubmittedAt</th>
                <th>SubmissionStatus</th>
                <th>Remark</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for research_report in research_reports %}
            <tr>
                <td>{{ research_report.id }}</td>
                <td>{{ research_report.title }}</td>
                <td>{{ research_report.file }}</td>
                <td>{{ research_report.fileType }}</td>
                <td>{{ research_report.submittedAt ? research_report.submittedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ research_report.submissionStatus }}</td>
                <td>{{ research_report.remark }}</td>
                <td>{{ research_report.updatedAt ? research_report.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('research_report_show', {'id': research_report.id}) }}">show</a>
                    <a href="{{ path('research_report_edit', {'id': research_report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('research_report_new') }}">Create new</a>
{% endblock %}
