{% extends 'base.html.twig' %}

{% block title %}College index{% endblock %}

{% block body %}
    <h1>College index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for college in colleges %}
            <tr>
                <td>{{ college.id }}</td>
                <td>{{ college.name }}</td>
                <td>
                    <a href="{{ path('college_show', {'id': college.id}) }}"class='btn btn-success btn-xs' >show</a>
                    <a href="{{ path('college_edit', {'id': college.id}) }}"class='btn btn-warning btn-xs' >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('college_new') }}">Create new</a>
{% endblock %}
