{% extends 'base.html.twig' %}

{% block title %}SubmissionBudgetCategory index{% endblock %}

{% block body %}
    <h1>SubmissionBudgetCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for submission_budget_category in submission_budget_categories %}
            <tr>
                <td>{{ submission_budget_category.id }}</td>
                <td>{{ submission_budget_category.name }}</td>
                <td>
                    <a href="{{ path('submission_budget_category_show', {'id': submission_budget_category.id}) }}">show</a>
                    <a href="{{ path('submission_budget_category_edit', {'id': submission_budget_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('submission_budget_category_new') }}">Create new</a>
{% endblock %}
