<a href="{{ path('theme') }}" class='btn btn-primary btn-sm   btn-block'>
	All by theme
</a>
<hr>
<a href="{{ path('research_theams') }}" class='btn btn-warning  btn-sm btn-block'>
	Researchers </a>
<hr>

{# <a href="{{ path('allreviewers') }}" class='btn btn-info  btn-sm btn-block'>
	 Internal Reviewers

</a>
<hr>

<a href="{{ path('alexternalreviewers') }}" class='btn btn-info  btn-sm btn-block'>
	External  Reviewers

</a>
<hr> #}

<a href="{{ path('allawarded') }}" class='btn btn-success  btn-sm btn-block'>
	All winners

</a>
 
<hr>
<a href="{{ path('alert') }}" class='btn btn-warning btn-sm btn-block' onclick="return confirm('Are you sure you want to submit message ?');">
	Co-PI Reminder</a>
<hr>

<a href="{{ path('allaccepted') }}" class='btn btn-success btn-xs  btn-block'>Review decisions filter 
</a>
<hr> 
{# 
<a href="{{ path('submission_filter', {'filter': 'al'}) }}" class='btn btn-primary btn-xs  btn-block'>All
</a>
<hr>
<a href="{{ path('submission_filter', {'filter': 'cp'}) }}" class='btn btn-primary btn-xs  btn-block'>Complete
</a>
<hr>
<a href="{{ path('submission_filter', {'filter': 'mg'}) }}" class='btn btn-warning btn-xs  btn-block'>Mega</a>
<hr>
<a href="{{ path('submission_filter', {'filter': 'cs'}) }}" class='btn btn-primary btn-xs  btn-block'>Community
</a>

<hr>
<a href="{{ path('submission_filter', {'filter': 'gr'}) }}" class='btn btn-primary btn-xs  btn-block'>Grant
</a>
<hr>
<a href="{{ path('submission_filter', {'filter': 'tt'}) }}" class='btn btn-primary btn-xs  btn-block'>TT
</a>
<hr>
<a href="{{ path('submission_filter', {'filter': 'ps'}) }}" class='btn btn-primary btn-xs  btn-block'>Published
</a>
<hr> #}
<a href="{{ path('submission_filter', {'filter': 'rv'}) }}" class='btn btn-warning btn-xs  btn-block'>Review assigned</a>
